/* Navbar */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #111;
  color: white;
  position: relative;
  z-index: 1000;
}

.logo {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
  padding: 5px;
  transition: 0.3s;
  font-size: 15px;
}

/* Hover Effect */
.link:hover {
  color: #00ff88;
}

/* Active Page Link */
.active-link {
  color: #00ff88 !important;
  font-weight: bold;
  border-bottom: 2px solid #00ff88;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
  color: white;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .links {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #111;
    flex-direction: column;
    width: 220px;
    padding: 15px;
    gap: 15px;
    border-left: 1px solid #333;
    border-bottom: 1px solid #333;
  }

  .links.menu-open {
    display: flex;
  }

  .link {
    padding: 10px;
  }
}